{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}


{% block title %}
Password Reset Done Page
{% endblock title %}


{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border p-3 bg-white">
                <h3>Password Reset Done Page</h3>
                <hr>
                <div class="alert alert-info">
                    <h4>A mail has been sent to your Email.</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}